html
    head
        title ="Fake logging in page"
    body
        form(action="/auth/google")
            input(type="text", name="First Name")
            br
            input(type="text", name="Last Name")
            br
            input(type="submit", value="Submit")